body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.page-container {
    display: flex;
}

.left {
    width: 50%;
    height: 100%; /* Set the height to 100% */
    /* border-style: solid; */
    /* border-width: 1px; */
    background-color: grey;
    overflow: hidden;
}

.right {
    width: 50%;
    padding: 10px;
    /* box-sizing: border-box; */
}

img {
    width: 100%;
    height: 100%; /* Set the height to 100% */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}
