body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.hover-trigger {
    display: inline-block;
    margin: 10px;
    position: relative;
}

.hover-trigger p {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.form-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#bicep-curl-trigger:hover #bicep-curl-form,
#squats-trigger:hover #squats-form {
    display: block;
}
