/* Reset some default browser styles */
body, h1, h2, h3, p, img, ul, li, form, label, input, button {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0; /* Remove default body margin */
    overflow: hidden; /* Prevent horizontal scrolling */
}

/* Navigation Bar styles */
.navbar {
    background-color: black;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.navbar h1 {
    margin: 0;
}

/* Container styles */
.container {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

/* Left div styles */
.left-div {
    max-width: 60vw; /* Set maximum width to 60% of viewport width */
    box-sizing: border-box;
    position: relative; /* Ensure position relative for absolute positioning */
}

/* Adjust the image to fill the left-div */
#video_feed {
    width: 100%;
    height: 100vh; /* Set height to 100% of viewport height */
    object-fit: cover; /* Ensure the image covers the entire container */
}

/* Right div styles */
.right-div {
    width: 41%; /* Adjust the width as needed */
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff; /* Background color for the right div */
    border: 1px solid #ddd; /* Border for the right div */
    border-radius: 8px; /* Border radius for a slightly rounded appearance */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift */
}

/* Additional styles for a dynamic and personalized right div */
.right-div p.info {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.right-div p.tip {
    color: #777;
    font-style: italic;
}

/* Remove borders from both left-div and right-div */
.left-div, .right-div {
    border: none;
}
.h1t {
    text-align: left;
}