<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style3.css">
    <title>RepXplorer - Web Tracking App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="static/script3.js"></script>
</head>
<body>
    <div class="navbar">
        <h1>RepXplorer</h1>
    </div>
    <div class="container">
        <div class="left-div">
            <img id="video_feed" src="{{url_for('video_feed', total_curls=curls)}}" alt="Image Not Found">
        </div>
        <div class="right-div">
            <br>
            {% if curls %}
                <p>CURLS ENTERED: {{ curls }}</p>
                <p id="curl_count">Number of Curls Tracked: 0</p>
            {% endif %}
            <br>
        </div>
    </div>
</body>
</html>
