<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Choice</title>
    <link rel="stylesheet" href="static/landingcss.css">
</head>
<body>
    <div class="navbar">
        <h1 class="h1">RepXplorer</h1>
    </div>
    <div class="container">
        <form action="/" method="post">
            <div class="btn-container">
                <button type="submit" class="exercise-btn" name="exercise" value="bicep_curls">Bicep Curls</button>
                <button type="submit" class="exercise-btn" name="exercise" value="squats">Squats</button>
            </div>
        </form>
    </div>
</body>
</html>
