<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Squats</title>
    <link rel="stylesheet" href="static/style3.css">
</head>
<body>
    <div class="navbar">
        <h1>RepXplorer</h1>
    </div>
    <div class="container">
        <div class="left-div">
            <form id="exerciseForm" action="{{ url_for('squats_page') }}" method="post">
                <label for="total_squats">Enter the number of squats:</label>
                <input type="number" name="total_squats" id="total_squats" required>
                <button type="button" onclick="startExercise()">Start Exercise</button>
            </form>
        </div>
        <div class="right-div">
            <img id="video_feed" src="{{ url_for('video_feed') }}" alt="Image Not Found">
        </div>
    </div>

    <script>
        function startExercise() {
            document.getElementById("exerciseForm").submit();
        }

        // Add event listener for key press
        document.addEventListener("keydown", function(event) {
            // Check if the pressed key is 'q'
            if (event.key === "q") {
                // Redirect to the landing page
                window.location.href = "{{ url_for('landing') }}";
            }
        });
    </script>
</body>
</html>
