<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Add your head content here -->
</head>
<body>
    <div class="page-container">
        <div class="left">
            <img id="video_feed_squats" src="{{url_for('video_feed_squats', count=count)}}" alt="Image Not Found">
        </div>
        <div class="right">
            <p>SQUATS COMPLETED: <span id="completedSquats">0</span></p>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('update', function(data) {
            var completedSquatsElement = document.getElementById('completedSquats');
            completedSquatsElement.innerText = data.completed_squats;

            // Check if remaining squats are 0
            if (data.completed_squats >= {{ count }}) {
                // Display a pop-up message
                alert('Well done! Squats completed.');

                // Redirect to the landing page
                window.location.href = '/';
            }
        });

        document.addEventListener('keydown', function(event) {
            if (event.key === 'q') {
                var isExerciseInterrupted = confirm("Exercise interrupted. Going to homepage.");

                if (isExerciseInterrupted) {
                    window.location.href = '/';
                }
            }
        });
    </script>
</body>
</html>
